<h1>What do you need ?</h1>
<form action="/answer" method="get" class="form">
  <input type="text" name="question" placeholder="Ask your coach anything">
  <input type="submit" value="Ask!">
</form>


